:root {
  --digit-default-width: 24.75px;
  --digit-default-height: 59.75px;
  --white: #ffffff;
  --light-grey: #eeeeee;
  --black-alpha: rgba(0, 0, 0, 0.45);
  --divider-color: rgba(0, 0, 0, 0.14);
  --blue: #2964ec;
  --green: #09bc8a;
  --default-border-radius: 8px;
}
* {
  box-sizing: border-box;
  outline: none;
}
.interactive:focus,
.digit-input-card:hover,
.kaktovik-keyboard-enter-button:hover {
  outline: 2px solid var(--blue);
}
.reset-appearance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
}
.centered-text {
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
code {
  background-color: var(--light-grey);
  border-radius: 2px;
}
.main-container {
  display: flex;
  display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 16px;
}
h2 {
  letter-spacing: 0.3px;
}
.subtitle {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: var(--black-alpha);
  margin-bottom: 24px;
}
.small-subtitle {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin: 0 0 8px;
}
.flexbox {
  display: flex;
  display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.dec-to-kaktovik-panel,
.kaktovik-to-dec-panel {
  position: relative;
  width: 40%;
  max-width: 900px;
}
.kaktovik-to-dec-panel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.kaktovik-to-dec-panel > .small-subtitle:not(:first-of-type) {
  margin-top: 16px;
  width: 100%;
}
.decimal-numbers-converter-input-container {
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--light-grey);
  border-radius: var(--default-border-radius);
  margin: 16px 0;
}
.decimal-numbers-converter-input {
  flex: 1;
  font-size: 16px;
  padding: 16px;
  border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
}
.decimal-numbers-converter-button {
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  padding: 0 16px;
  border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
}
.result-wrapper {
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow-x: auto;
  height: calc(var(--digit-default-height) + 24px);
}
.result-wrapper > .digits-flex-container {
  position: absolute;
}
.digits-flex-container {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  font-weight: bold;
}
.digit {
  flex: 1 0;
  background: var(--white);
  background-image: url(../images/digits.png);
  background-repeat: no-repeat;
  background-size: var(--digit-default-width)
    calc((var(--digit-default-height) * 20));
  height: var(--digit-default-height);
  width: var(--digit-default-width);
}
.digit-0 {
  background-position: center 0;
}
.digit-1 {
  background-position: center calc(1 * var(--digit-default-height) * -1);
}
.digit-2 {
  background-position: center calc(2 * var(--digit-default-height) * -1);
}
.digit-3 {
  background-position: center calc(3 * var(--digit-default-height) * -1);
}
.digit-4 {
  background-position: center calc(4 * var(--digit-default-height) * -1);
}
.digit-5 {
  background-position: center calc(5 * var(--digit-default-height) * -1);
}
.digit-6 {
  background-position: center calc(6 * var(--digit-default-height) * -1);
}
.digit-7 {
  background-position: center calc(7 * var(--digit-default-height) * -1);
}
.digit-8 {
  background-position: center calc(8 * var(--digit-default-height) * -1);
}
.digit-9 {
  background-position: center calc(9 * var(--digit-default-height) * -1);
}
.digit-a {
  background-position: center calc(10 * var(--digit-default-height) * -1);
}
.digit-b {
  background-position: center calc(11 * var(--digit-default-height) * -1);
}
.digit-c {
  background-position: center calc(12 * var(--digit-default-height) * -1);
}
.digit-d {
  background-position: center calc(13 * var(--digit-default-height) * -1);
}
.digit-e {
  background-position: center calc(14 * var(--digit-default-height) * -1);
}
.digit-f {
  background-position: center calc(15 * var(--digit-default-height) * -1);
}
.digit-g {
  background-position: center calc(16 * var(--digit-default-height) * -1);
}
.digit-h {
  background-position: center calc(17 * var(--digit-default-height) * -1);
}
.digit-i {
  background-position: center calc(18 * var(--digit-default-height) * -1);
}
.digit-j {
  background-position: center calc(19 * var(--digit-default-height) * -1);
}
.kaktovik-keyboard {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  width: calc(var(--digit-default-height) * 6);
}
.digit-input-card {
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: calc(var(--digit-default-height) + 32px);
  border: 1px solid var(--divider-color);
  border-radius: var(--default-border-radius);
  padding: 4px 8px;
  user-select: none;
}
.digit-input-card > span {
  font-size: 15px;
  font-weight: bold;
  color: var(--black-alpha);
  line-height: 0.84;
}
.kaktovik-keyboard-enter-button {
  cursor: pointer;
  width: calc(var(--digit-default-height) * 3 - 10px);
  background-color: #09bc8a;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  border-radius: var(--default-border-radius);
}
.dot-button {
  align-items: center;
  justify-content: center;
  width: var(--digit-default-width);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
#keyboardDotButton:disabled {
  cursor: not-allowed !important;
  outline: none !important;
}
#kakInputField {
  height: var(--digit-default-height);
}
@media only screen and (max-width: 900px) {
  .subtitle {
    font-size: 12px;
  }
  .dec-to-kaktovik-panel,
  .kaktovik-to-dec-panel {
    max-width: unset;
    width: 90%;
  }
}
