:root {
  --digit-default-width: 24.75px;
  --digit-default-height: 59.75px;
  --white: #ffffff;
}
.flexbox {
  display: flex;
  display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.digits-flex-container {
  flex-direction: row;
}
.digit {
  background: var(--white);
  background-image: url(../images/digits.png);
  background-repeat: no-repeat;
  background-size: var(--digit-default-width)
    calc((var(--digit-default-height) * 20));
  height: var(--digit-default-height);
  width: var(--digit-default-width);
}
.digit-0 {
  background-position: center 0;
}
.digit-1 {
  background-position: center calc(1 * var(--digit-default-height) * -1);
}
.digit-2 {
  background-position: center calc(2 * var(--digit-default-height) * -1);
}
.digit-3 {
  background-position: center calc(3 * var(--digit-default-height) * -1);
}
.digit-4 {
  background-position: center calc(4 * var(--digit-default-height) * -1);
}
.digit-5 {
  background-position: center calc(5 * var(--digit-default-height) * -1);
}
.digit-6 {
  background-position: center calc(6 * var(--digit-default-height) * -1);
}
.digit-7 {
  background-position: center calc(7 * var(--digit-default-height) * -1);
}
.digit-8 {
  background-position: center calc(8 * var(--digit-default-height) * -1);
}
.digit-9 {
  background-position: center calc(9 * var(--digit-default-height) * -1);
}
.digit-a {
  background-position: center calc(10 * var(--digit-default-height) * -1);
}
.digit-b {
  background-position: center calc(11 * var(--digit-default-height) * -1);
}
.digit-c {
  background-position: center calc(12 * var(--digit-default-height) * -1);
}
.digit-d {
  background-position: center calc(13 * var(--digit-default-height) * -1);
}
.digit-e {
  background-position: center calc(14 * var(--digit-default-height) * -1);
}
.digit-f {
  background-position: center calc(15 * var(--digit-default-height) * -1);
}
.digit-g {
  background-position: center calc(16 * var(--digit-default-height) * -1);
}
.digit-h {
  background-position: center calc(17 * var(--digit-default-height) * -1);
}
.digit-i {
  background-position: center calc(18 * var(--digit-default-height) * -1);
}
.digit-j {
  background-position: center calc(19 * var(--digit-default-height) * -1);
}
